body {background-color: black;}
p {
    color: orange;
}
header{
    padding: 70px 16px;
    background: red ;
    position: sticky; top: 0;
}
.pseudolink { 
   color:blue; 
   text-decoration:underline; 
   cursor:pointer; 
   }