body {
  background-color: gray;
}

header {
  padding: 70px 16px;
  background: #484848;
  position: sticky;
  top: 0;
  text-align: center;
  word-spacing: 30px;
}

.pseudolink {
  font-size: 25px;
  color: black;
  padding: 12px;
  background: gray;
  cursor: pointer;
}

.container {
  margin-top: 30px;
  background: #484848;
  color: white;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 25%;
  margin-right: 25%;
}
.containerDone {
  margin-top: 30px;
  background: #484848;
  color: white;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 25%;
  margin-right: 25%;
}

.container input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 33px;
  width: 33px;
}

.containerDone input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 33px;
  width: 33px;
}


.creation {
  font-size: 17;
  opacity: 40%;
}